{% extends 'base.html' %}

{% block content %}

<!--bootstrap for centering-->
<div class="col-md-6 offset-md">

    {% if user.is_authenticated %}

    <h1>HCAR Search Tool Home</h1>

    <p><a href="artist_search/">Artist Search Tool</a></p>
    <p><a href="storage_search/">Storage Search Tool</a></p>

    {% else %}

    <h1>Login</h1>

    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" aria-describedby="emailHelp" name="username" placeholder="Username"
                   required="required" />
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required" />
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>

</div>

{% endif %}

{% endblock %}

